In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

<h2>KRX에서 KOSPI200 종목들 이름과 코드 가져옴.</h2>

In [28]:
code_df = pd.read_csv("KOSPI200.csv", encoding="EUC-KR")

In [29]:
col_kor2eng = {"회사명":"company", "종목코드":"id"}
code_df.rename(columns=col_kor2eng, inplace=True)

In [30]:
code_df = code_df[["company", "id"]]

In [32]:
code_df["id"] = code_df["id"].astype(str).apply(lambda x: x.zfill(6))

In [33]:
code_df.head()

     company      id
0      효성중공업  298040
1  HDC현대산업개발  294870
2       셀트리온  068270
3      SK케미칼  285130
4     BGF리테일  282330