In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

<h2>KRX에서 KOSPI200 종목들 이름과 코드 가져옴.</h2>
코드 참고: http://excelsior-cjh.tistory.com/109

In [28]:
code_df = pd.read_csv("KOSPI200.csv", encoding="EUC-KR")

In [29]:
col_kor2eng = {"회사명":"company", "종목코드":"id"}
code_df.rename(columns=col_kor2eng, inplace=True)

In [30]:
code_df = code_df[["company", "id"]]

In [32]:
code_df["id"] = code_df["id"].astype(str).apply(lambda x: x.zfill(6))

In [33]:
code_df.head()

     company      id
0      효성중공업  298040
1  HDC현대산업개발  294870
2       셀트리온  068270
3      SK케미칼  285130
4     BGF리테일  282330

<h2>네이버 금융에서 각 종목 3년치 데이터 크롤링 함.</h2>

In [86]:
companies_names = []

for name in code_df['company']:
    companies_names.append(name)

In [88]:
companies_ids = []

for i in code_df['id']:
    companies_ids.append(i)

In [87]:
len(companies_names) # KOSPI200 회사 수

202

In [115]:
df = pd.DataFrame()

In [116]:
for idx in range(0,len(companies_ids)):
    
    item_name = companies_names[idx]
    url = 'http://finance.naver.com/item/sise_day.nhn?code={code}'.format(code=companies_ids[idx])
    print(item_name)
    
    for page in range(1,2): # 2015.01.01 부터~ -> 93  
        pg_url = '{url}&page={page}'.format(url=url, page=page) 
        df[companies_names[idx]] = pd.read_html(pg_url, header=0)[0]['종가']

효성중공업
HDC현대산업개발
셀트리온
SK케미칼
BGF리테일
카카오
오리온
넷마블
현대중공업지주
두산밥캣
삼성바이오로직스
동서
LIG넥스원
이노션
삼성물산
우리은행
삼성에스디에스
만도
쿠쿠홀딩스
BGF
코스맥스
종근당
현대로템
동아에스티
한국콜마
한국타이어
GS리테일
삼양사
한국항공우주
롯데하이마트
이마트
BNK금융지주
일진머티리얼즈
현대위아
현대홈쇼핑
한미약품
무학
한라홀딩스
삼성생명
한화생명
코오롱인더
락앤락
한전기술
GKL
SK
하이트진로
영원무역
LG하우시스
한세실업
NAVER
KB금융
풍산
LG이노텍
LG유플러스
한전KPS
CJ제일제당
팬오션
한진중공업
JW홀딩스
SK이노베이션
삼성카드
후성
LF
아모레퍼시픽
롯데쇼핑
현대글로비스
하나금융지주
현대리바트
금호타이어
CJ CGV
유니드
GS
LG디스플레이
대교
기업은행
강원랜드
한국금융지주
SBS
엔씨소프트
현대백화점
대웅제약
휴켐스
한샘
LG전자
S&T모티브
신한지주
코웨이
LG생활건강
LG화학
대우건설
포스코대우
대우조선해양
두산인프라코어
동원F&B
두산중공업
한국가스공사
팜스코
케이티앤지
현대중공업
AK홀딩스
대한유화
케이티
제일기획
SKC
SK하이닉스
삼성엔지니어링
HDC
한국단자공업
한온시스템
한섬
현대엘리베이터
에스원
남해화학
오뚜기
LS산전
동원시스템즈
삼성중공업
메리츠종금증권
롯데케미칼
세아베스틸
호텔신라
고려아연
한올바이오파마
SK텔레콤
현대모비스
현대해상
현대그린푸드
한국전력공사
녹십자
한솔케미칼
대덕전자
에스엘
보령제약
한국쉘석유
부광약품
한미사이언스
포스코
동국제강
삼성증권
금호석유화학
세방전지
S-Oil
한화에어로스페이스
현대제철
아이에스동서
신세계
OCI
현대건설
현대미포조선
GS건설
삼성SDI
삼성전기
빙그레
녹십자홀딩스
남양유업
LS
SK네트웍스
농심
SK디스커버리
동양
한화
JW중외제약
영풍
고려제강
넥센타이어
롯데정밀화학
대림산업
LG상사
태광산업
DB하이텍
NH투자증권
미래에셋대우
삼성화재해상보험
오리온홀딩스
삼성전자
쌍용자동차
쌍용양회공업
SPC삼립
일양약품
현대자동차
한화케미칼
롯데지주
기아자동차
효성
CJ
두산
DB손해보험
영진약품
케이씨씨
롯데칠성음료
롯데푸드
아모레퍼시픽그룹
대상
LG
동아쏘시오홀딩스
한일홀딩스
세아제강지주
삼양홀딩스
한국타이어월드와이드
대한항공
유한양행
CJ대한통운

In [117]:
df

,효성중공업,HDC현대산업개발,셀트리온,SK케미칼,BGF리테일,카카오,오리온,넷마블,현대중공업지주,두산밥캣,...,대상,LG,동아쏘시오홀딩스,한일홀딩스,세아제강지주,삼양홀딩스,한국타이어월드와이드,대한항공,유한양행,CJ대한통운
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,52400.0,50400.0,290500.0,80900.0,198000.0,112000.0,99200.0,119500.0,409000.0,39850.0,...,25300.0,72400.0,106000.0,69900.0,68500.0,98400.0,17850.0,27200.0,233000.0,151000.0
2,52400.0,50400.0,290500.0,80900.0,198000.0,112000.0,99200.0,119500.0,409000.0,39850.0,...,25300.0,72400.0,106000.0,69900.0,68500.0,98400.0,17850.0,27200.0,233000.0,151000.0
3,55200.0,51700.0,288500.0,84100.0,195000.0,115500.0,102500.0,121000.0,421500.0,39700.0,...,25300.0,72600.0,104500.0,70000.0,68500.0,98500.0,17950.0,27250.0,233000.0,161000.0
4,56900.0,53200.0,292000.0,85000.0,195000.0,119500.0,107000.0,116500.0,413500.0,40000.0,...,25650.0,73300.0,109000.0,70400.0,68500.0,101000.0,17700.0,28100.0,238000.0,158000.0
5,59400.0,50900.0,297000.0,85200.0,205500.0,119000.0,105500.0,115000.0,405000.0,40400.0,...,26250.0,72600.0,113500.0,72500.0,68500.0,101500.0,18000.0,28100.0,242500.0,158000.0
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,59000.0,52700.0,301000.0,85200.0,212500.0,120500.0,108000.0,118500.0,399500.0,40100.0,...,25900.0,72400.0,114500.0,74400.0,68500.0,101500.0,18000.0,28100.0,242500.0,156000.0
10,61200.0,55500.0,302500.0,84400.0,201000.0,118500.0,110000.0,119000.0,384500.0,38550.0,...,25400.0,72400.0,114500.0,70000.0,68500.0,100000.0,18100.0,28600.0,237500.0,158000.0
11,59200.0,54800.0,296500.0,82800.0,195000.0,117500.0,107000.0,117500.0,387000.0,37750.0,...,25700.0,71600.0,107500.0,70600.0,68500.0,99500.0,17800.0,28450.0,238500.0,158000.0
12,60900.0,57100.0,306000.0,82500.0,198000.0,117000.0,107000.0,112000.0,384500.0,36700.0,...,26550.0,71500.0,108500.0,72900.0,68500.0,102000.0,17950.0,28250.0,238000.0,162000.0
13,63500.0,59600.0,300500.0,84100.0,195500.0,120500.0,103000.0,111000.0,389500.0,36600.0,...,27100.0,71600.0,108500.0,76500.0,68500.0,101500.0,17900.0,28900.0,236500.0,162000.0
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
df = pd.DataFrame()

item_name = companies_names[1]
url = url = 'http://finance.naver.com/item/sise_day.nhn?code={code}'.format(code=companies_ids[1])
for i in range(1,6):
    for page in range(1,3):
        pg_url = '{url}&page={page}'.format(url=url, page=page) 
#         df[companies_names[i]] = pd.read_html(pg_url, header=0)[0]['종가']

In [114]:
pd.read_html(pg_url, header=0)[1]

Empty DataFrame
Columns: [맨앞, 1, 2, 3, 4, 5, 6, 7, 8, 맨뒤]
Index: []